:root {
  /* 文字颜色 */
  --primary-color: #ff9854;

  --van-search-left-icon-color: var(--primary-color) !important;
}

.hiden-banner {
  height: 100vh;
  position: relative;
  z-index: 10;
  background-color: #fff;
  overflow-y: scroll;
}